body {
	font-family: "Varela", sans-serif;
	font-size: 1.8rem;
	color: #212121;
	line-height: 1.618;
	font-weight: normal;
}

section { padding: 3.333rem 0; }
.container { max-width: 102rem; }

h1 { color: #CC4452; }
h1,h2,h3,h4,h5,h6 { line-height: 1.618; }
.text-center { text-align: center; }

a { color: #CC4452;}
a:hover { color: #AD343E; }

.button, button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	font-size: 1.4rem;
}

.button:hover, button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
	background-color: #474747 !important;
	border-color: #474747 !important;
	color: #fff !important;
}

.button-primary {
	background-color: #26547C !important;
	border-color: #26547C !important;
}

.full-width { width: 100%; }

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus, select:focus {
	border-color: #26547C;
}

nav.main-nav {
	position: absolute;
	top: 0; left: 0;
	z-index: 99999;
	width: 100%;
	padding: 10px 25px;
	display: flex;
	-webkit-box-pack: justify;
	-ms-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-box-align: center;
	align-items: center;
}
a.logo img { max-width: 100px; }
nav.main-nav ul { list-style-type: none; }
nav.main-nav ul li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3rem;
	letter-spacing: 1px;
	padding-top: 4rem;
}
nav.main-nav ul li a {
	color: #fff;
}
nav.main-nav ul li a:hover {
	color: #AD343E;
}

.hero {
	overflow: hidden;
	position: relative;
	background-size: cover;
}
.hero .container { padding: 9rem 0; }

.hero-video {
	min-height: 100vh;
	color: #fff;
}
.hero-video .hero-content {
	position: absolute;
	top:50%; left: 50%;
	transform: translate(-50%, -50%);
	padding: 0 1rem;
}
.hero video {
	width: 100%;
	height: auto;
}

.hero-solid {
	color: #fff;
}
.hero-solid h1 {
	color: #fff;
	font-size: 10.5rem;
}

.footer {
	padding: 3.333rem 0;
	border-top: 1px solid #e6e6e6;
}
.footer .cta.massive { font-size: 10.8rem; font-weight: 700; }
#mc-embedded-subscribe-form input[type='submit'] {
	padding: 0;
}

.contact-form { max-width: 72rem; margin: 0 auto; }
.contact-form textarea { height: 192px; }

.hidden { display: none; }
