{% extends "base.html" %}

{% block main %}
<div class="hero hero-solid" style="background-color: #26547c;">
	<div class="hero-content text-center">
		<div class="container">
			<div class="row">
				<div class="column column-50 column-offset-25">
					<h1><strong>Let's talk</strong></h1>
					<h4>
						We don't bite. Send us a message and let's figure out if we can do something great together
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<!--section>
	<div class="container">
		<div class="row">
			<div class="column column-60 column-offset-20">
				{% block footer %}
					{% include "contact-form.html" ignore missing %}
				{% endblock %}
			</div>
		</div>
	</div>
</section-->
{% endblock %}
