{% extends "base.html" %}

{% block main %}
<div class="hero hero-solid" style="background-color: #26547c;">
	<div class="hero-content text-center">
		<div class="container">
			<div class="row">
				<div class="column column-70 column-offset-15">
					<h1 class="massive">Let's talk</h1>
				</div>
			</div>
			<div class="row">
				<div class="column column-50 column-offset-25">
					<h4>
						We don't bite. Send us a message and let's figure out if we can do something great together
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<section style="background-color: #ececec;">
	<div class="container">
		<div class="row">
			<div class="column column-60 column-offset-20">
				{% include "contact-form.html" ignore missing %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
