{% extends "base.html" %}

{% block main %}
<div class="hero hero-video">
	<div class="">
		<video autoplay loop muted>
			<source src="{{ url_for('static', filename='video/office.mp4') }}" type="video/mp4" />
		</video>
	</div>
	<div class="hero-content text-center">
		<div class="container">
			<h2>One stop shop for all your IT need</h2>
			<h4>
				Building products and managing your IT infrastructure are hard. Our startup mindset will help you get there.
			</h4>
			<a class="button cta" href="/services">See What We Do</a>
		</div>
	</div>
</div>
{% endblock %}
