{% extends "base.html" %}

{% block main %}
<section>
	<div id="cloud-infrastructure" class="row">
		<div class="column column-33">
			<img src="theme/img/cloud-infrastructure.png" />
		</div>
		<div class="column column-67">
			<h2>Cloud Infrastructure Management</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at nibh odio. Praesent eleifend ex tortor, eget rutrum tortor laoreet ac. Aliquam elementum elit tortor, gravida aliquam nisi venenatis a. In hac habitasse platea dictumst. Nullam convallis mi id eros finibus, gravida ornare arcu gravida. Nulla fermentum risus tristique nibh.
			</p>
		</div>
	</div>
	<div id="mobile-app" class="row">
		<div class="clearfix">
			<div class="column column-33 float-right">
				<img src="theme/img/mobile-app.png" />
			</div>
			<div class="column column-67 float-left">
				<h2>Mobile App Development</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at nibh odio. Praesent eleifend ex tortor, eget rutrum tortor laoreet ac. Aliquam elementum elit tortor, gravida aliquam nisi venenatis a. In hac habitasse platea dictumst. Nullam convallis mi id eros finibus, gravida ornare arcu gravida. Nulla fermentum risus tristique nibh.
				</p>
			</div>
		</div>
	</div>
	<div id="web-app" class="row clearfix">
		<div class="column column-33">
			<img src="theme/img/web-app.png" />
		</div>
		<div class="column column-67">
			<h2>Responsive Web Development</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at nibh odio. Praesent eleifend ex tortor, eget rutrum tortor laoreet ac. Aliquam elementum elit tortor, gravida aliquam nisi venenatis a. In hac habitasse platea dictumst. Nullam convallis mi id eros finibus, gravida ornare arcu gravida. Nulla fermentum risus tristique nibh.
			</p>
		</div>
	</div>
</section>

<section>
	{% include "contact-form.html" ignore missing %}
</section>
{% endblock %}
